@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Righteous&display=swap');

body{
  background-image: url(photobg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.heading, .heading-2{
  font-family: "Holtwood One SC", serif;
}
.btn-74, p{
  font-family: "Righteous", sans-serif;
}
  
#capturedFrames img {
  border: 6px solid white;
  background-color: #fff;
  padding: 5px;
  padding-bottom: 4em;
  margin-top: 2em;
  margin-left: 1em;
  width: 30%;
  height: 25%;
}

#generatedStripContainer {
  margin-top: 2em;
}

#generatedStrip {
  border: 10px solid #ffff;
  max-width: 40%;
  margin-top: 0.5em;
}

video{
  border: 4mm ridge rgba(211, 220, 50, 0.6);
}

.button-column{
   text-wrap: nowrap;
}

.btn-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-74:hover {
  background-color: #fff;
}

.btn-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .btn-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}
@media screen and (max-width: 990px){
  #capturedFrames img {
    padding-bottom: 2em;
    width: 50%;
    height: 45%;
  }
}
@media screen and (max-width: 767px){
  #capturedFrames img {
    padding-bottom: 2em;
    width: 50%;
    height: 45%;
  }
}